<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/cv_admin_login.css">
		<title>Admin</title>
	</head>
	<body>
		<section>
			<h1>Admin Gestion</h1>
			<form actino="admin_login" method="post">
				<input type="text" placeholder="Pseudo admin" name="name">
				<input type="password" placeholder="Mot de passe admin" name="password">
				<button>se connecter</button>
			</form>
		</section>
	</body>
</html>
