<section
	id="experience">

	{# cv experiences professionnelles #}

	<article data-aos="fade-up">
		<div><img src="./img/stage.png" alt="" srcset=""></div>
		<div>
			<h4>STAGE DE developpeur web</h4>
			<h5>{# NES (Normandy Eco-Space) 76880 Arques-la-Bataille | juin #}2021</h5>
		</div>
		<div id="content_card">
			<h4>STAGE DE developpeur web</h4>
			<p>NES (Normandy Eco-Space) 76880 Arques-la-Bataille</p>
			<div id="card_date">
				<p>Juin 2021</p>
			</div>
		</div>
	</article>
	<article data-aos="fade-up">
		<div><img src="./img/technicien.png" alt="" srcset=""></div>
		<div>
			<h4>STAGE DE technicien</h4>
			<h5>{# LDLC La Garde 795 Av. de Draguignan, 83130 La Garde | Mars #}2022</h5>
		</div>
		<div id="content_card">
			<h4>STAGE DE developpeur web</h4>
			<p>LDLC La Garde 795 Av. de Draguignan, 83130 La Garde</p>
			<div id="card_date">
				<p>Mars 2022</p>
			</div>
		</div>
	</article>
	<article data-aos="fade-up">
		<div><img src="./img/developpeur.png" alt="" srcset=""></div>
		<div>
			<h4>SERVICE CIVIQUE INTERNATIONAL</h4>
			<h5>{# EPITECH (École d'informatique) 1777 Cotonou (BENIN) | Janvier - Avril #}2020</h5>
		</div>
		<div id="content_card">
			<h4>SERVICE CIVIQUE INTERNATIONAL</h4>
			<p>EPITECH (École d'informatique) 1777 Cotonou (BENIN)</p>
			<div id="card_date">
				<p>Janvier - Avril 2020</p>
			</div>
		</div>
	</article>

	{# cv diplomes et formations #}

	<article>
		<div><img src="./img/inprogress.png" alt="" srcset=""></div>
		<div>
			<h4>Titre professionnel Concepteur Développeur d’Applications</h4>
			<h5>{# École Ri7 13400 Aubagne | #}En cours</h5>
		</div>
		<div id="content_card">
			<h4>Titre professionnel Concepteur Développeur d’Applications</h4>
			<p>École Ri7 13400 Aubagne</p>
			<div id="card_date">
				<p>En cours</p>
			</div>
		</div>
	</article>
	<article>
		<div><img src="./img/certificat.png" alt="" srcset=""></div>
		<div>
			<h4>FORMATION TIDW</h4>
			<h5>{# IFCASS 76200 Dieppe | #}2021</h5>
		</div>
		<div id="content_card">
			<h4>FORMATION TIDW</h4>
			<p>IFCASS 76200 Dieppe</p>
			<div id="card_date">
				<p>2021</p>
			</div>
		</div>
	</article>
	<article>
		<div><img src="./img/certificat.png" alt="" srcset=""></div>
		<div>
			<h4>BACCALAUREAT STI2D</h4>
			<h5>{# Lycée Joseph Zobel 97215 RIVIERE SALEE | #}2018</h5>
		</div>
		<div id="content_card">
			<h4>BACCALAUREAT STI2D</h4>
			<p>Lycée Joseph Zobel 97215 RIVIERE SALEE</p>
			<div id="card_date">
				<p>2018</p>
			</div>
		</div>
	</article>

</section>
