<div class="menu-wrap">
	<input type="checkbox" id="btnBurger" class="toggler">
	<div class="hamburger" id="burger">
		<div></div>
	</div>
	<div class="menu">
		<div>
			<div>
				<ul>
					<li><a onclick="closeBurger()" href="#"><span>Home</span></a></li>
					<li><a onclick="closeBurger()" href="#about">About</a></li>
					<li><a onclick="closeBurger()" href="#experience">Experience</a></li>
					<li><a onclick="closeBurger()" href="#project">Project</a></li>
					<li><a onclick="closeBurger()" href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
