#project{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: blueviolet; */
    overflow: hidden;
}
#project div{
    width: 100vw;
    display: flex;
    justify-content: end;
}
#project div:hover img{
    display: block;
}
#project div h2{
    font-size: 20vh;
    width: 75%;
    text-align: end;
    line-height: 22vh;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    cursor: pointer;
}
#project div h2:hover{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
}
#project div img{
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
}
#link_all_project{
    text-align: center;
    font-size: 30px;
    width: 100%;
}
#link_all_project a{
    color: white;
}


@media only screen and (max-width: 700px) {
    #project div h2{
        font-size: 10vh;
        line-height: 12vh;
    }
    h1{
        font-size: 10vh;
        line-height: 12vh;
    }
    #contact form input{
        width: 100%;
    }
    #contact form{
        background-color: none;
        width: 80vw;
    }
    #contact form input{
        width: 100%;
    }
    #contact form button{
        width: 100%;
    }
  }
